@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=Poppins:wght@200;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.header {
    background-color: #FFFFFF;
}

.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    width: 230px;
}

nav>ul>li {
    display: inline-block;
    margin-left: 30px;
    list-style-type: none;
    margin-top: 30px;
}

nav>ul>li>a {
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: black;

}

.btn button {
    border-radius: 20px;
    border: 5px solid #93DC9C;
    background-color: #3BB44A;
    padding: 10px 15px;
}

.btn button a {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: 'Lato';

}

.btn-2 {
    text-align: center;
    display: block;
    margin-top: 50px;
}

.btn-3 {
    text-align: center;
    display: block;

}

/* bannar css */

.bannar-video {
    background-color: #81298D;
    color: #fff;
    padding: 80px 20px;
}

.bannar-title h2 {
    font-family: la;
}

.bussiness-title {
    text-align: center;
}

.bussiness-title h2 {
    font-weight: 800;
    background-color: #C6F3C6;
    padding: 15px 1.28%;

}

.bussiness-title h4 {
    font-weight: 400;
    text-align: justify;
    margin-top: 25px;
    margin-bottom: 40px;
    padding: 10px 50px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.719);

}

.bussiness p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.719);
}

.business-para h4 {
    font-weight: 400;
    text-align: justify;
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.719);
}

/* online-bussiness-padding */
.online-bussiness-padding {
    text-align: center;
    background-color: #81298D;
    color: #fff;
    padding: 50px 0px;
}

/* couser */

.couser-title h4 {
    margin-bottom: 50px;
    text-align: center;
}

.course-img img {
    border: 1px solid grey;
}

.course-right-title {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.course-right-title span {
    font-size: 15px;

}


.course-right .icons {
    color: #FFAB00;
    margin: 10px 0px;
    font-size: 20px;
}

.course-right .spacial-icons {
    margin-left: 10px;
}

.course-right .studentpay {
    text-align: center;
    background-color: #FFAB00;
    color: black;
    font-weight: 700;
    width: 250px;
    margin: 0 auto;

}

.btn-4 button {
    display: block;
    width: 100%;
    border: none;
    background-color: #3BB44A;
    padding: 10px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}

.btn-4 button a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.couser-outline p {
    line-height: 80%;
}

/* features-section */
.features-section .features-title h2 {
    text-align: center;
    background-color: #81298D;
    padding: 20px 0px;
    color: #fff;
    margin-top: 20px;
}

.feature-description h2 {
    margin-top: 10px;
    color: #262626;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.feature-description p {
    color: #262626;
    font-family: "Open Sans";
    font-size: inherit;
    font-style: normal;
    font-weight: 400;
    -webkit-text-decoration: none;
    text-decoration: none;
}


.features-section {
    text-align: center;
}

.single-feature .single-feature-img img {
    width: 212px;
    height: 212px;
    text-align: center;
}

/* slider CSS */
.slider {
    margin-top: 50px;
}

.slider-datails h4 {
    color: #262626;
    font-family: "Open Sans";
    font-weight: 400;

}

.btn-5 button {
    padding: 15px 40px;
}

/* section-padding */

.section-padding h2 {
    text-align: center;
    padding: 20px 0px;
    background-color: #81298D;
    color: #fff;
    margin-top: 30px;
}

.section-padding .spacial {
    color: #3BB44A;
}

/* card css */

.card-section {
    text-align: center;
}

.card-section .card-description h4 {
    font-weight: 700;
    font-size: 20px;
}

.card-section .card-description p {
    color: #262626;
    font-size: 20px;
    font-weight: 400;
}

.slider-2-title {
    font-weight: 700;
}

.btn-6 button {
    padding: 15px 60px;
}

/* review-css */
.reviews {
    margin-top: 60px;
    
}

.review-description {
    position: relative;
}

.reviews-padding .icons{
    font-size: 25px;
    color: #ffaa00c0;
}


.review-title {
    padding: 40px;
}

.review-description h4 {
    font-weight: 700;
}

.review-description p {
    color: #262626;
    font-size: 20px;
    font-weight: 400;
}

.review-description .fa-quote-left {
    position: absolute;
    top: -27px;
    left: -54px;
}

.review-description .fa-quote-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.review-description .spacial {
    color: #3BB44A;
}

.review-description .review-date {
    font-size: 20px;
}

.review-description .fa-solid {
    font-size: 70px;
    color: gainsboro;

}

/* Shopify css */
.Shopify-padding{
    margin-top: 40px;
    text-align: center;
    padding: 0px 70px;
}

.Shopify h2{
    color: #3BB44A;
    font-weight: 700;
}
.Shopify p{
    color: #262626;
    font-weight: 500;
    font-size: 20px;
   
}