@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=Poppins:wght@200;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





:before,
:after {
	box-sizing: border-box;
}



ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}




body {
    font-family: 'Lato', sans-serif;
}

/* all button css start  */
.btn button {
    border-radius: 20px;
    border: 5px solid #93DC9C;
    background-color: #3BB44A;
    padding: 10px 15px;
}

.btn button a {
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-family: 'Lato';

}

.btn-2 {
    text-align: center;
    display: block;
    margin-top: 50px;
}

.btn-3 {
    text-align: center;
    display: block;

}

.btn-4 button {
    display: block;
    width: 100%;
    border: none;
    background-color: #3BB44A;
    padding: 10px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}

.btn-4 button a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.btn-5 button {
    padding: 15px 40px;
}

.btn-6 button {
    padding: 15px 60px;
}


/* all button css end  */


/* header css start */


header{
  
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.logo{
color: black;
}

.navbar{
    display: flex;
    list-style: none;
}

.navbar a{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 20px;
    margin: 0 5px;
    color: black;
    transition: all .45s ease;
    border-radius: 5px;
    text-decoration: none;
}

.navbar a:hover{
    color: blueviolet;
}

#menu-icon{
    font-size: 30px;
    z-index: 10001;
    color: black;
    cursor: pointer;
    display: none;
}

/* header css end */

/* clock css start */

.clock {
    background-color: #93dc9cb0;
    padding: 30px 0px;
    text-align: center;
   
}

.clock .clock-title h2 {
    font-weight: 700;
    color: black;
    font-size: 36px;
}

#clock {
    font-size: 50px;
    font-weight: 700;
    text-align: center;

}

#clock_2 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;

}

#clock_3 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;

}

/* clock css end */


/* bannar video css start*/

.bannar-video {
    background-color: #81298D;
    color: #fff;
    padding: 80px 20px;
}

/* bannar video css end*/

/* bussiness css start */
.bussiness-title {
    text-align: center;
}

.bussiness-title h2 {
    font-weight: 800;
    background-color: #C6F3C6;
    padding: 15px 1.28%;

}

.bussiness-title h4 {
    font-weight: 400;
    text-align: justify;
    margin-top: 25px;
    margin-bottom: 40px;
    padding: 10px 50px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.719);

}

.bussiness p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.719);
}

.business-para h4 {
    font-weight: 400;
    text-align: justify;
    margin-top: 25px;
    margin-bottom: 40px;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.719);
}

/* bussiness css end */

/* online-bussiness-padding start */
.online-bussiness-padding {
    text-align: center;
    background-color: #81298D;
    color: #fff;
    padding: 50px 0px;
}

/* online-bussiness-padding */
/* couser  css start*/

.couser-title h4 {
    margin-bottom: 50px;
    font-size: 20px;
    text-align: center;
    position: relative;

}

.couser-title h4::before {
    height: 2px;
    display: block;
    width: 25%;
    background: #808080;
    border-right: 1px white;
    content: '';
}

.couser-title h4::after {
    height: 2px;
    display: block;
    width: 25%;
    background: #808080;
    right: 0;
    content: '';
    top: 10%;
    position: absolute;
}

.course-img img {
    border: 1px solid grey;
}

.course-right-title {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.course-right-title span {
    font-size: 15px;

}


.course-right .icons {
    color: #FFAB00;
    margin: 10px 0px;
    font-size: 20px;
}

.course-right .spacial-icons {
    margin-left: 10px;
}

.course-right .studentpay {
    text-align: center;
    background-color: #FFAB00;
    color: black;
    font-weight: 700;
    width: 250px;
    margin: 0 auto;

}

.couser-outline p {
    line-height: 80%;
}

/* couser  css end*/



/* features-css start */
.features-section .features-title h2 {
    text-align: center;
    background-color: #81298D;
    padding: 20px 50px;
    color: #fff;
    margin-top: 20px;
    position: relative;
}

.features-section .features-title h2::after {
    height: 2px;
    display: block;
    width: 35%;
    background: #fff;
    right: 50px;
    content: '';
    top: 28%;
    position: absolute;
}

.features-section .features-title h2::before {
    height: 2px;
    display: block;
    width: 35%;
    background: #fff;
    border-right: 1px white;
    content: '';
}


.feature-description h2 {
    margin-top: 10px;
    color: #262626;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.feature-description p {
    color: #262626;
    font-family: "Open Sans";
    font-size: inherit;
    font-style: normal;
    font-weight: 400;
    -webkit-text-decoration: none;
    text-decoration: none;
}


.features-section {
    text-align: center;
}

.single-feature .single-feature-img img {
    width: 212px;
    height: 212px;
    text-align: center;
}

/* features-css end */

/* clock-slide css start*/

.clock-slide {
    margin: 100px 0px;

}

/* clock-slide css end*/
/* CHOOSE css start */
.CHOOSE h2 {
    background-color: #81298D;
    color: #fff;
    padding: 20px 0px;
    text-align: center;
    margin-top: 20px;
}

.CHOOSE::before {
    height: 2px;
    margin: 0 auto;
    display: block;
    width: 70%;
    background: #111111;
    border-right: 1px white;
    content: '';
    margin-top: 40px;

}

/* CHOOSE css end */

/* slider CSS */
.slider {
    margin-top: 50px;
}

.slider-datails h4 {
    color: #262626;
    font-family: "Open Sans";
    font-weight: 400;

}

/* section-padding css start */

.section-padding h2 {
    text-align: center;
    padding: 20px 50px;
    background-color: #81298D;
    color: #fff;
    margin-top: 30px;
    position: relative;
}

.section-padding h2::after {
    height: 2px;
    display: block;
    width: 30%;
    background: #fff;
    right: 50px;
    content: '';
    top: 28%;
    position: absolute;
}

.section-padding h2::before {
    height: 2px;
    display: block;
    width: 30%;
    background: #fff;
    border-right: 1px white;
    content: '';
}




.section-padding .spacial {
    color: #3BB44A;
}

/* section-padding css end */

/* card css  start*/

.card-section {
    text-align: center;
}

.card-section .card-description h4 {
    font-weight: 700;
    font-size: 20px;
}

.card-section .card-description p {
    color: #262626;
    font-size: 20px;
    font-weight: 400;
}

/* card css  end*/

/* SPECIAL OFFER css */
.slider-2-title {
    font-weight: 700;
}

/* SPECIAL OFFER css */

/* review-css start*/
.reviews {
    margin-top: 60px;

}

.review-description {
    position: relative;
}

.reviews-padding .icons {
    font-size: 25px;
    color: #ffaa00c0;
}


.review-title {
    padding: 40px;
}

.review-description h4 {
    font-weight: 700;
}

.review-description p {
    color: #262626;
    font-size: 20px;
    font-weight: 400;
}

.review-description .fa-quote-left {
    position: absolute;
    top: -27px;
    left: -54px;
}

.review-description .fa-quote-right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.review-description .spacial {
    color: #3BB44A;
}

.review-description .review-date {
    font-size: 20px;
}

.review-description .fa-solid {
    font-size: 70px;
    color: gainsboro;

}


/* Shopify css */
.Shopify-padding {
    margin-top: 40px;
    text-align: center;
    padding: 0px 70px;
}

.Shopify h2 {
    color: #3BB44A;
    font-weight: 700;
}

.Shopify p {
    color: #262626;
    font-weight: 500;
    font-size: 20px;

}

/* review-css end*/

/* footer css start*/
footer {
    margin-top: 50px;
}

.footer-top-area-title {
    margin-top: 15px;
    font-size: 20px;
}

.footer-right-side .icons {
    margin-left: 200px;
}

.icons .fa-brands {
    margin-left: 10px;
    font-size: 30px;
    padding: 20px;
    color: #fff;
    background-color: grey;
    border-radius: 50%;
}

.icons .fa-facebook:hover {
    background-color: green;
}

.icons .fa-instagram:hover {
    background-color: purple;
}

.footer-buttom-area {
    text-align: center;
}

.footer-buttom-area {
    background-color: #81298D;
    color: #fff;
}

.footer-buttom-area nav ul li {
    text-align: center;
   
    justify-content: center;
    display: inline-block;
    margin-left: 40px;
    margin-top: 27px;

}

.footer-buttom-area nav ul li a {
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
}

/* footer css end*/

/* responsive */


/* navbar responsive */
@media (max-width:1530px) {
    header{
        padding: 18px 3%;
    }
}
@media (max-width:1070px) {
    header{
        padding: 12px 3%;

    width: 90%;
    }

    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        width: 90%;
        margin: 0 auto;
        top: -800px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background-color: rgba(34, 36, 36, 0.952);
        transition: all .50s ease;
        text-align: center;
    }

    .navbar a{
        display: block;
        padding: 1rem;
        margin: .8rem;
        color: #fff;
    }

    .navbar.open{
        top: 15%;
    }
}


  
/* body responsive */

@media only screen and (max-width: 557px) {

    /* header */
    .header-area {
        display: flex;
        flex-direction: column;

    }

    /* video */
    video {
        width: 280px;
        height: 255px;
    }

    /* body */
    body {
        text-align: center;
       
        margin: 0 auto;
    }

    /* course */
    .couser-title h4 {
        margin-bottom: 50px;
        font-size: 17px;
        text-align: center;
        position: relative;
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;

    }

    .couser-title h4 span {
        display: block;
    }

    .couser-title h4::before {
        content: '';
        position: absolute;
        height: 2px;
        display: inline-block;
        width: 10%;
        left: 0;
        right: 0;
        bottom:0;
        top: 50%;
        background: #808080;
        border-right: 1px white;
    
       
        
    }

    .couser-title h4::after {
        height: 2px;
        display: inline-block;
        width: 10%;
        background: #808080;
        right: 0;
       
        content: '';
        top: 50%;
        position: absolute;
    }

    /* features */
    .features-section .features-title h2 {
        margin-bottom: 50px;
        font-size: 17px;
        text-align: center;
        position: relative;
        display: block;
        margin: 0 auto;
        
    }
    
    .features-section .features-title h2::after {
        height: 2px;
        display: block;
        width: 10%;
        background: #fff;
        right: -10;
        content: '';
        top: 50%;
        position: absolute;

        
    }
    
    .features-section .features-title h2::before {
        height: 2px;
        display: block;
        width: 10%;
        background: #fff;
        right: -10;
        content: '';
        top: 50%;
        position: absolute;
       
    }

    
.section-padding h2 {
    text-align: center;
    font-size: 20px;
    padding: 20px 50px;
    background-color: #81298D;
    color: #fff;
    margin-top: 20px;
    position: relative;
}

.section-padding h2::after {
    height: 2px;
    display: block;
    width: 10%;
    background: #fff;
    right: 20px;
    content: '';
    top: 50%;
    position: absolute;
}

.section-padding h2::before {
    height: 2px;
    display: block;
    width: 10%;
    background: #fff;
    left: 3%;
    content: '';
    top: 50%;
    position: absolute; 
}

    
    /* reviews */
    .review-description {
        position: relative;
    }

    .review-description .fa-quote-left {
        position: absolute;
        top: -27px;
        left: 10px;
        font-size: 50px;
    }

    .review-description .fa-quote-right {
        position: absolute;
        bottom: 66px;
        right: 0;
        font-size: 50px;
    }

    .footer-right-side .icons {
        margin-left: 0px;
    }

    .footer-buttom-area nav ul li {
        text-align: center;
        justify-content: center;
        display: block;
        margin-left: 40px;
   
    
    }


}




